{% load static %}
<html>
<head><B>ACTORS</B></head>
</head>
<body align="center">
    <table align="center" border="2px"   style="border-collapse:collapse">
<theader>
<tr>
    <th>Name</th>
    <th>Age</th>
    <th>designation</th> 
    <th>Img</th>
</tr>
</theader>
<tbody>
    <tr>
        <td>ALLU</td>
        <td>22</td>
        <td>Actor1</td>
        <td><img src="{% static 'C:\Users\CHAITHANYA\OneDrive\Desktop\Django projects\hanuman\Scripts\project15\static\images\Balayya3.jpg'  %}" width="45px" height="35px"></td>
    </tr>
    <tr>
        <td>YASH</td>
        <td>23</td>
        <td>Actor2</td>
        <td><img src="{% static 'images/C:\Users\CHAITHANYA\OneDrive\Desktop\Django projects\hanuman\Scripts\project15\static\images\New-Project-49.jpg'  %}" width="45px" height="35px"></td>
        
    </tr>
    <tr>
        <td>PRABAS</td>
        <td>24</td>
        <td>Actor3</td>
        <td><img src="{% static 'images/prabhas-4.jpg'  %}" width="45px" height="35px"></td>
    </tr>
    <tr>
        <td>india</td>
        <td>24</td>
        <td>players</td>
        <td><img src="{% static 'images/indwc.avif'  %}" width="45px" height="35px"></td>
    </tr>
    <tr>
        <td>indpak</td>
        <td>24</td>
        <td>Actor3</td>
        <td><img src="{% static 'images/C:\Users\CHAITHANYA\OneDrive\Desktop\Django projects\hanuman\Scripts\project15\static\images\india-cricket-jersey.webp'  %}" width="45px" height="35px"></td>
    </tr>
    </tbody>
    </html>